<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-medium">Itens de menu</h1>
    <button mat-flat-button color="primary" (click)="openCreate()">
      <mat-icon>add</mat-icon>
      Novo item
    </button>
  </div>

  <app-data-grid
    [columns]="columns"
    [data]="menuRoutes()"
    [loading]="loading()"
    [serverSide]="true"
    [totalCount]="totalCount()"
    [pageIndex]="pageIndex()"
    [pageSize]="pageSize()"
    (page)="onPage($event)"
    (searchChange)="onSearch($event)"
    persistKey="menu-routes"
  >
    <ng-template #rowActions let-row>
      <button mat-icon-button (click)="openEdit(row)" matTooltip="Editar">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="remove(row)" matTooltip="Excluir">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </app-data-grid>
</div>
