<mat-form-field [appearance]="appearance()">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <input
    matInput
    [formControl]="innerControl"
    mask="separator.2"
    thousandSeparator="."
    decimalMarker=","
    prefix="R$ "
    [allowNegativeNumbers]="false"
    [dropSpecialCharacters]="false"
    [placeholder]="placeholder()"
    [required]="isRequired"
    (blur)="onTouched()"
  />
  @if (hint() && !shouldShowError) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (shouldShowError) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
