<mat-form-field [appearance]="appearance()">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <ng-content select="[matPrefix]"></ng-content>
  <input
    matInput
    [type]="type()"
    [formControl]="innerControl"
    [placeholder]="placeholder()"
    [attr.maxlength]="maxLength() ?? null"
    [required]="isRequired"
    (blur)="onTouched()"
  />
  <ng-content select="[matSuffix]"></ng-content>
  @if (hint() && !shouldShowError) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (shouldShowError) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
