<mat-sidenav-container class="h-screen">
  <mat-sidenav
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()"
    (openedChange)="mobileOpened.set($event)"
    [style.width.px]="sidenavWidthPx()"
    class="sidebar! bg-surface! rounded! transition-[width,transform]! duration-300! ease-[cubic-bezier(0.25,0.8,0.25,1)]! max-w-[80vw]!"
  >
    <app-sidebar [collapsed]="collapsed()" (linkClick)="closeMobileMenu()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content
    class="flex flex-col h-screen transition-[margin-left]! duration-300 ease-[cubic-bezier(0.25,0.8,0.25,1)]"
    [style.marginLeft.px]="isHandset() ? 0 : sidenavWidthPx()"
  >
    <app-header
      [showMenuButton]="isHandset()"
      [collapsed]="collapsed()"
      (menuToggle)="toggleMobileMenu()"
      (collapseToggle)="toggleCollapse()"
    ></app-header>
    <main class="flex-1 overflow-y-auto overflow-x-hidden p-6 bg-surface-container!">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
