// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './styles_theme-colors.scss' as palette;

@layer angular-material {
  *:not(mat-icon) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
  }

  html,
  body,
  main {
    @include mat.system-classes();
    @include mat.theme(
      (
        color: (
          theme-type: color-scheme,
          primary: palette.$primary-palette,
          tertiary: palette.$tertiary-palette,
        ),

        typography: Poppins,
        density: 0,
      )
    );
    font-size: 1rem;
    color: light-dark(#1a1a1a, #ffffff);
  }

  .snackbar-success {
    @include mat.snack-bar-overrides((
      container-color: #16a34a,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    ));
  }

  .snackbar-error {
    @include mat.snack-bar-overrides((
      container-color: #dc2626,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    ));
  }

  .snackbar-warning {
    @include mat.snack-bar-overrides((
      container-color: #ca8a04,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    ));
  }
}
